* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner{
  width: 100%;
  height: 11vh;
  background-image: url('../img/pattern.png');
  background-size: 23%;
  background-color: cornflowerblue;
  position: relative;
}

.under-title{
  color: gray;
}

#highlight{
  color: rgb(43, 176, 255);
}

#date{
  font-size: small;
}

header h1{
  margin-top: 1%;
}

header .banner, header .title-text, main{
  padding: 0 0.5% 0 0.5%;
}

header img{
  position: absolute;
  bottom: 10%;
  height: 50%;
}